/* LEFT */

.reservation-left {
    background-image: url('https://images.unsplash.com/photo-1522798514-97ceb8c4f1c8?auto=format&fit=crop&w=1200&q=80');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 60px;
}

    .reservation-left::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.45);
    }

.left-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 500px;
}

    .left-content span {
        font-family: 'Playfair Display', serif;
        font-style: italic;
        color: #E7D7B1;
        font-size: 28px;
    }

    .left-content h1 {
        font-size: 56px;
        line-height: 1.1;
        margin: 18px 0;
    }

    .left-content p {
        line-height: 1.8;
        color: rgba(255,255,255,0.8);
    }

/* RIGHT */

.reservation-right {
    background: white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.reservation-box {
    width: 100%;
    max-width: 520px;
}

/* LOGO */

.logo {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 35px;
}

    .logo span {
        font-size: 22px;
        font-weight: bold;
    }

.subtitle {
    color: var(--primary-color);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 28px;
}

.reservation-box h2 {
    font-size: 42px;
    margin: 10px 0 18px;
}

.reservation-box p {
    color: var(--text-light);
    line-height: 1.7;
    margin-bottom: 35px;
}

/* ELEMENTS */
.reservation-room-image {
    width: 100%;
    border-radius: 32px;
}

/* FORM */
.reservation-form {
    display: grid;
    gap: 22px;
}

.input-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.input-box {
    display: flex;
    align-items: center;
    background: #FAFAFA;
    border: 1px solid #E5E5E5;
    border-radius: 14px;
    padding: 15px;
    transition: 0.3s;
}

.input-box:focus-within {
    border-color: var(--primary-color);
    background: white;
    box-shadow: 0 0 0 4px rgba(132,114,78,0.15);
}

.input-box i {
    color: var(--primary-color);
    margin-right: 12px;
}

.input-box input,
.input-box select {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 15px;
}

.double-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* RESPONSIVE */

@media(max-width:950px) {

    .reservation-page {
        grid-template-columns: 1fr;
    }

    .reservation-left {
        min-height: 400px;
    }

    .reservation-right {
        padding: 35px 25px;
    }
}

@media(max-width:600px) {

    .left-content h1 {
        font-size: 38px;
    }

    .reservation-box h2 {
        font-size: 34px;
    }

    .double-input {
        grid-template-columns: 1fr;
    }
}
