.btn {
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: opacity 0.3s;
    text-decoration: none;
}

.btn-nav {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 16px 35px;
    font-size: 16px;
    border-radius: 25px;
}
.btn-tour {
    display: flex;
    align-items: center;
    gap: 12px;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-dark);
    transition: opacity 0.3s;
    text-decoration: none;
}

.btn-register {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: 16px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.login-link {
    text-align: center;
    margin-top: 25px;
    color: var(--text-light);
}

.login-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.btn-login {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 600;
    z-index: 10;
    transition: 0.3s;
}

.back-button i {
    color: var(--primary-color);
}

.nav-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-login-nav {
    text-decoration: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 12px 26px;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
}

/* EVENTS */

.btn-login-nav:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn-register:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.btn-login:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.back-button:hover {
    color: var(--primary-color);
    transform: translateX(-3px);
}

.btn:hover,
.btn-tour:hover {
    opacity: 0.85;
}
