.btn-register {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: 16px;
    border-radius: 14px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-register:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.login-link {
    text-align: center;
    margin-top: 25px;
    color: var(--text-light);
}

.login-link a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
}

.btn-login {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: white;
    padding: 16px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

/* BACK BUTTON */
.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 600;
    z-index: 10;
    transition: 0.3s;
}

.back-button i {
    color: var(--primary-color);
}

.back-button:hover {
    color: var(--primary-color);
    transform: translateX(-3px);
}


/* NAVBAR BUTTONS */
.nav-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-login-nav {
    text-decoration: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 12px 26px;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.3s ease;
}

    .btn-login-nav:hover {
        background-color: var(--primary-color);
        color: white;
    }
